@import "tailwindcss";

@theme {
  --color-primary: #0058bc;
  --color-primary-container: #0070eb;
  --color-primary-fixed: #d8e2ff;
  --color-primary-fixed-dim: #adc6ff;
  --color-background: #f9f9ff;
  --color-surface: #f9f9ff;
  --color-on-surface: #181c23;
  --color-on-surface-variant: #414755;
  --color-outline: #717786;
  --color-outline-variant: #c1c6d7;
  --color-surface-container: #ecedf9;
  --color-surface-container-high: #e6e8f3;
  --color-surface-container-low: #f1f3fe;

  --font-family-sans: "Inter", ui-sans-serif, system-ui, sans-serif;

  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 40px;
  --spacing-gutter: 20px;
  --spacing-container-margin: 32px;

  --radius-DEFAULT: 8px;
  --radius-lg: 12px;
  --radius-xl: 16px;
  --radius-2xl: 24px;
}

body {
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #f9f9ff;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.glass-card {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(0, 0, 0, 0.08);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.tag-green {
  background-color: #ecfdf5;
  color: #059669;
  border: 1px solid #d1fae5;
}
.tag-red {
  background-color: #fef2f2;
  color: #dc2626;
  border: 1px solid #fee2e2;
}
.tag-neutral {
  background-color: #f1f5f9;
  color: #475569;
  border: 1px solid #e2e8f0;
}
